@import '../variables';

nav {
  @include flex($justify: space-around);
  padding: 10px;
  background: linear-gradient($navbg, transparent);

  a {
    font-size: 2rem;
    font-weight: bold;
    color: $inactive;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover, &.active {
      color: $active;
      text-decoration: underline;
    }

  }

  div {

    button {
      color: $inactive;
      font-size: 2rem;
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      transition: .3s ease;
      background: none;

      &:hover {
        color: $active;
      }

    }
    
    div.dropdown {
      background: white;
      @include flex(column, center, center);
      transform: scaleY(0);
      transform-origin: top;
      transition: .3s ease;
      border: 1px solid $inactive;
      border-radius: 5px;
      margin-top: 5px;
      padding: 5px 15px;
      
      &.open {
        transform: scaleY(1);
      }
      
    }
    
  }

}
